<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
    <link rel="stylesheet" href="css/all.min.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/templatemo-style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="img/lnewslogo.png">
    <title>LearNEWS</title>
  </head>

  <body>

    <!-- Navbar -->
      <div class="topnav">
        <a href="index.html">Home</a>
        <a class="active" href="tutorials_utilproj.html">Tutorials</a>
        <a href="">Documentations</a>
        <a href="#tmSocialM">Contact</a>
      </div>
    <!--End Navbar -->

    <!-- Category section -->   
    <div class="container-fluid">
      <i class="fa" aria-hidden="false"></i>
    </div>
    
    <!-- End Category section -->
    <!-- Portfolio section -->
    <section id="tmPortfolio">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">

            <div class="tm-portfolio-item">
              <iframe class="ytvid" src="https://www.youtube-nocookie.com/embed/JqbD-UmkyU8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <div class="tm-portfolio-description">
                <h3 class="tm-text-orange">1. JUNIT 5
                  <span class="tm-title-small">...</span>
                </h3>
                <p class="mb-0">
                  Intro to unit testing with JUNIT 5
                </p>
              </div>
            </div>
			
			<div class="tm-portfolio-item">
              <iframe class="ytvid" src="https://www.youtube-nocookie.com/embed/edfhYQrvTk0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <div class="tm-portfolio-description">
                <h3 class="tm-text-blue">2. Async Messaging
                  <span class="tm-title-small">...</span>
                </h3>
                <p class="mb-0">
                  Asynchronous chatting possible with ActiveMQ and JMS Listener
                </p>
              </div>
            </div>
			
          </div>
        </div>
      </div>
    </section>
    <!-- End portfolio section -->

    <!-- Contact section -->
    <div id="tmContact" class="parallax-window" data-parallax="scroll" data-image-src="img/wallpaper-6wblur.png">
      <div class="container-fluid">       
        </div>
      <!-- container -->
    </div>

    <!-- Social Media-->
    <div id="tmSocialM">
      <div class="container-fluid">
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-google"></a>
          <a href="#" class="fa fa-linkedin"></a>
          <a href="#" class="fa fa-youtube"></a>
      </div>
    </div>
    <!-- Ends Social Media-->

    <!-- row -->
    <div class="row">
        <footer class="col-12">
          <p class="text-center tm-copyright-text">
          Copyright 2020 Mini Profile Page - Design: Template Mo</p>
        </footer>
    </div>


    <!-- JS section -->
    <script src="js/custom.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/parallax.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </body>
</html>